@import 'tailwindcss';

@theme {
  --color-R: #c42608;
  --color-Bk: #171111;
  --color-Y: #f5d602;
  --color-B: #3742ed;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */
